{% load static %}

<!DOCTYPE html>
<html lang="US-en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
    </head>
        <body>
            <script language=javascript>
                var rev = "fwd";
                function titlebar(val){
                    var msg  = "The BEST IPv4 Heatmap";
                    var res = " ";
                    var speed = 100;
                    var pos = val;
                    msg = "   |-"+msg+"-|";
                    var le = msg.length;
                    if(rev == "fwd"){
                        if(pos < le){
                            pos = pos+1;
                            scroll = msg.substr(0,pos);
                            document.title = scroll;
                            timer = window.setTimeout("titlebar("+pos+")",speed);
                        }
                        else {
                            rev = "bwd";
                            timer = window.setTimeout("titlebar("+pos+")",speed);
                        }
                    }
                    else {
                        if(pos > 0) {
                            pos = pos-1;
                            var ale = le-pos;
                            scrol = msg.substr(ale,le);
                            document.title = scrol;
                            timer = window.setTimeout("titlebar("+pos+")",speed);
                        }
                        else {
                            rev = "fwd";
                            timer = window.setTimeout("titlebar("+pos+")",speed);
                        }
                    }
                }
                titlebar(0);
            </script>
            <header class="bg-white black-80 tc pv4 avenir">
                <a href="" class="bg-black-80 ba b--black dib pa3 w2 h2 br-100"></a>
                <h1 class="mt2 mb0 baskerville i fw1 f1">IPv4 Dotted Heatmap</h1>
                <h2 class="mt2 mb0 f6 fw4 ttu tracked">by: Robert Belonga</h2>
            {% block content %}
            {% endblock %}
        </body>

</html>