{% extends 'base.html' %}
{% block content %}
<div id='inner'>
<div id='map' style='width: 800px; height: 450px;'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYmVsb25nYXJvYmVydCIsImEiOiJja2c2cWd2N3IwdGluMnBwaWV5ZzU2bjhnIn0.QgRdSLNmSGfcu1CMWF7vhw';
    var map = new mapboxgl.Map({
            container: 'map',
            zoom: 0,
            style: 'mapbox://styles/belongarobert/ckkrdmnfu048f17nojlm01cf9',
    })
// Compass
    var nav = new mapboxgl.NavigationControl();
        map.addControl(nav, 'top-left');
// Fullscreen Feature
        map.addControl(new mapboxgl.FullscreenControl());
// Add geolocate control to the map.
        map.addControl(
        new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true,
                showAccuracyCircle: true
    },
            trackUserLocation: true
    })
    );
        </script>
    </div>
{% endblock %}